gametest/data/scripts/events/GoldenWheel/rewards.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="list">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="params">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="string" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:string" name="message" use="optional" />
											<xs:attribute type="xs:string" name="Mstring" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:byte" name="minLevel" />
						<xs:attribute type="xs:byte" name="maxLevel" />
						<xs:attribute type="xs:int" name="coinId" />
					</xs:complexType>
				</xs:element>
				<xs:element type="xs:int" name="multisells" />
				<xs:element name="payback" maxOccurs="unbounded" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="item" maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute type="xs:int" name="id" use="optional" />
											<xs:attribute type="xs:byte" name="count" use="optional" />
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:byte" name="id" use="optional" />
						<xs:attribute type="xs:short" name="count" use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>