gametest/data/scripts/events/BlackCoupon/eventDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="list" type="listType"/>
	<xs:complexType name="configurationsType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:int" name="multisellID"/>
				<xs:attribute type="xs:string" name="showItemsInRange"/>
				<xs:attribute type="xs:int" name="couponID"/>
				<xs:attribute type="xs:int" name="couponCount"/>
				<xs:attribute type="xs:string" name="parseExchangeItemsBelow"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="itemType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:int" name="breakID" use="optional"/>
				<xs:attribute type="xs:int" name="restoreID" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="itemsType">
		<xs:sequence>
			<xs:element type="itemType" name="item" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
		<xs:attribute type="xs:string" name="category" use="optional"/>
	</xs:complexType>
	<xs:complexType name="exchangeType">
		<xs:sequence>
			<xs:element type="itemsType" name="items" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="listType">
		<xs:sequence>
			<xs:element type="configurationsType" name="configurations"/>
			<xs:element type="exchangeType" name="exchange"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>